@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-redux-toastr/src/styles/index';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Ubuntu:ital,wght@1,300;1,400;1,500;1,700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-color: #1f1d2b;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.redux-toastr {
  .toastr {
    @apply shadow;
    background-color: '#272532';

    &.rrt-success {
      background-color: #56db8b;
    }

    &.rrt-warning {
      background-color: #eaa84c;
    }

    &.rrt-info {
      background-color: #32a8e2;
    }

    &.rrt-error {
      background-color: #e94d4d;
    }
  }
}
